@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Creates the typing effect. Source: https://css-tricks.com/snippets/css/typewriter-effect/ */
#welcome h1 {
    text-align: center;
    font-family: 'Anonymous Pro', monospace;
    font-size: 3vw;


    overflow: hidden;
    /* Ensures the content is not revealed until the animation 
    border-right: .15em solid black;*/
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens
    letter-spacing: .15em; */
    /* Adjust as needed */
    animation:
        typing 8s steps(60, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
}*/

html {
    scroll-behavior: smooth;
}

.navbar-nav {
    width: 100%;
}

#four {
    float: right;
}

#skiing {
    width: 600px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    margin-bottom: 3%;
    border-radius: 50%;
}

#about {
    padding: 5% 10% 5% 10%;
    background-color: #696362;
    color: #ffffff;
    margin-top: 11%;
}

#about h1 {
    margin-bottom: 3%;
}

#skills {
    padding: 5% 10% 5% 10%;

    display: grid;
    grid-template-areas:
        'title title title title'
        'softwareIcon typingIcon workingIcon educationIcon'
        'languages other bcit ubc';
    grid-gap: 20px;
}

#skills h1 {
    grid-area: title;
    margin-bottom: 3%;
}

#softwareIcon {
    width: 100px;
    height: auto;
    grid-area: softwareIcon;
}

#typingIcon {
    width: 100px;
    height: auto;
    grid-area: typingIcon;
}

#workingIcon {
    width: 100px;
    height: auto;
    grid-area: workingIcon;
}

#educationIcon {
    width: 100px;
    height: auto;
    grid-area: educationIcon;
}

#languages {
    grid-area: languages;
}

#other {
    grid-area: other;
}

#bcit {
    grid-area: bcit;
}

#ubc {
    grid-area: ubc;
}

#projects {
    padding: 5% 10% 5% 10%;
    background-color: #696362;
    color: #ffffff;
    display: grid;
    grid-template-columns: 60% 40%;
}

.projectImg {
    grid-column: 1 / span 1;
    margin-top: 10%;
}

.projectText {
    grid-column: 2 / span 1;
    margin-top: 25%;
    margin-left: 10%;
}

.projectText a {
    color: white;
}

#projects a:hover {
    opacity: 0.7;
}

.projectImg img {
    width: 100%;
}

#contact {
    padding: 5% 10% 5% 10%;
}

#contact h1 {
    padding-bottom: 3%;
}

.fa {
    padding-top: 7px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border: solid black 3px;
}

.fa:hover {
    opacity: 0.8;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    color: black;
}